
.serviceCard {
    display: flex;
    flex-direction: column;
    align-items: center;
    background: transparent;
    border-radius: 15px;
    box-shadow: 0 4px 16px rgba(5, 23, 58, 0.1);
    margin: 1rem;
    width: 70%;
    transition: transform 0.3s ease-in-out;
    cursor: pointer;
}
.serviceCard img {
    width: 100%;
    height: 200px;
    object-fit: cover;
    border-radius: 15px 15px 0 0;
}
.serviceCard:hover {
    transform: translateY(-10px);
}
.serviceInfo{
    padding:1rem;
}
.serviceCard h2 {
    color: #05173a;
    font-weight: 800;
    font-size: 1rem;
    margin-bottom: 1rem;
}

.serviceCard p {
    color: #05173a;
    font-size: 1rem;
    margin-bottom: 1rem;
}